<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [titulo]="graficos.grafico1.leyenda" [tipo]="graficos.grafico1.type" [data]="graficos.grafico1.data" [labels]="graficos.grafico1.labels"></app-grafico-dona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [titulo]="graficos.grafico2.leyenda" [tipo]="graficos.grafico2.type" [data]="graficos.grafico2.data" [labels]="graficos.grafico2.labels"></app-grafico-dona>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [titulo]="graficos.grafico3.leyenda" [tipo]="graficos.grafico3.type" [data]="graficos.grafico3.data" [labels]="graficos.grafico3.labels"></app-grafico-dona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [titulo]="graficos.grafico4.leyenda" [tipo]="graficos.grafico4.type" [data]="graficos.grafico4.data" [labels]="graficos.grafico4.labels"></app-grafico-dona>
            </div>
        </div>
    </div>
</div>
